body {
    --color-bg: #000000;
    --color-fg: #bbbbbb;
    --color-title: #cccccc;
    --color-title-bg: var(--color-bg);
    --color-border: var(--color-fg);
    --font-family: system-ui;
    --font-title-family: system-ui;
    --font-title-weight: bold;

    background: var(--color-bg);
    color: var(--color-fg);
    font-family: var(--font-family);
}
h1 { color: var(--color-title); background: var(--color-title-bg); font-family: var(--font-title-family); font-weight: var(--font-title-weight); }
h2 { color: var(--color-title); background: var(--color-title-bg); font-family: var(--font-title-family); font-weight: var(--font-title-weight); }
h3 { color: var(--color-title); background: var(--color-title-bg); font-family: var(--font-title-family); font-weight: var(--font-title-weight); }
h4 { color: var(--color-title); background: var(--color-title-bg); font-family: var(--font-title-family); font-weight: var(--font-title-weight); }
h5 { color: var(--color-title); background: var(--color-title-bg); font-family: var(--font-title-family); font-weight: var(--font-title-weight); }
.container {
    border: 1pt solid var(--color-border);
    margin-bottom: 0.5rem;
    .title {
        color: var(--color-title);
        background: var(--color-title-bg);
        font-family: var(--font-title-family);
        font-weight: var(--font-title-weight);
        font-size: 1.7rem;
        margin: 0;
        padding-left: 0.2em;
        padding-right: 0.5em;
        border-bottom: 1pt solid var(--color-border);
    }
    .components {
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.component {
    border: 1pt dashed var(--color-border);
    margin: 0.5em;
    .title {
        padding: .1em;
        color: var(--color-title);
        background: var(--color-title-bg);
        font-family: var(--font-title-family);
        font-weight: var(--font-title-weight);
        font-size: 1.3rem;
        margin: 0;
        padding-left: 0.2em;
        padding-right: 0.5em;
        border-bottom: 1pt dashed var(--color-border);
    }
}
.component.group {
    .members {
        padding: 0.3rem;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}
