{% extends "component.html" %}
{% block body %}
<div class="head">
    <h2 class="title" style="--color-title-bg: {{node.desc.color}}">
        <span>{{node.desc.icon}} {{node.desc.label}}</span>
        <span>
            <svg class="color" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50%" cy="50%" r="50%" stroke="black" fill="black" id="{{node.dom_id}}-color" />
            </svg>
        </span>
    </h2>
    <div class="power">
        <svg class="power" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" y="0" width="0%", height="100%" fill="#bb0000" id="{{node.dom_id}}-power" />
        </svg>
    </div>
</div>
<script type="text/html" name="members">
{% raw %}
    {{#if members}}
    <ul>
        {{#each members}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{else}}
    <div>Group is empty</div>
    {{/if}}
{% endraw %}
</script>
<div class="members"></div>
{% endblock %}
